.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 100px;
}

.containerDev{
    display: flex;
    align-items: center;
    justify-content: center;
    
}